# Ignore local WD/ML build, dependency, and cache files
/WD/frontend/.vite/
/WD/frontend/dist/
/WD/backend/node_modules/
/WD/frontend/node_modules/
/ML/__pycache__/
/ML/**/*.pyc
/ML/venv/
.venv/
venv/
